# when other wants to see the .env which is not possible so we use this .env-sample to show users how the structure of data look like
SECRET_KEY=
DEBUG=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=

