{% extends 'base.html'%}

<!--extends is used to add the code from the base.html to the code in home.html-->
{% load static %}
{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/cover.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

	
<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.Images.url }}"> </a>
			<!--In this case, we want to print the URL because we are not storing the images inside the database.
			Instead, we are storing the images. Means, the URL of the images. so what happens is it will print the URL of the image.
			that is the path of the image. Then once it is rendered in the browser, it will match with the media folder. and the images is obtained near-->
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{ product.product_name}}</a>
				<div class="price mt-1">$ {{ product.price}}</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock %}


<!--Any where in the code if we found just images or css or font or js we need to add {% static 'images/....' %}
ex: <img src="images/items/1.jpg">
now changed to
 <img src="{% static 'images/items/1.jpg' %}">
-->